<html>
	<head>
		<title>Index</title>
	</head>

	<body>
		<h1>Willkommen zu ImageHoster</h1>
		<div id="sign_in">
			<%= render "devise/sessions/new" %>
		</div>
		<div id="sign_up">
			<%= link_to "Registrieren", new_user_registration_path %>
		</div>
	</body>
</html>
