<div class="SubMenu">
	<%= link_to "Projekt ansehen", @project, :class => "MenuButton" %>
<%= link_to I18n.t('main.myProjects'), projects_path, :class => "MenuButton" %>
</div>
<h1>Editing project</h1>



<p>
<%= render 'form' %>
</p>



