<div class="SubMenu">
	<%= link_to 'Zeigen', @image, :class => "MenuButton" %> 
	<%= link_to 'meine Bilder', images_path, :class => "MenuButton" %>
</div>
<h1>Bild bearbeiten</h1>


<p>
<%= render 'form' %>
</p>

